@model IEnumerable<MagicVilla_Web.Models.Dto.VillaDTO>

<body class="dark-body">

<!-- Main centered image -->
<div class="main-content d-flex justify-content-center align-items-center">
    <img src="~/images/gallery1.jpg" alt="Main Image" class="center-image">
</div>

<!-- Gallery List -->
<div class="container gallery-list">
    <div class="row gy-4">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <a asp-controller="VillaNumber" asp-action="UpdateVillaNumber" asp-route-id="@item.Id" class="gallery-item">
                    <div class="gallery-card">
                        <img src="@item.ImageUrl" alt="@item.Name" class="gallery-img"/>
                        <div class="gallery-overlay">
                            <h5>@item.Name</h5>
                            <p>Rate: @item.Rate</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

</body>